body {
    font-family: "Josefin Sans";
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

.hero-logo {
    margin: 30px;
    max-width: 100px;
}

.hero-img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.hero {
    margin-bottom: 65px;
}

.desktop-hero-img {
    display: none;
}

.content h1 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 5px;
    color: hsl(0, 6%, 24%);
}

.content h1 .intro {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

.content-logo {
    display: none;
}

.content h1 span {
    display: block;
}

.content {
    padding: 0 30px;
    margin-bottom: 90px;
}

.content .description {
    margin: 0 0 52px;
    text-align: center;
    font-weight: 400;
    color: hsl(0, 36%, 70%);
    font-size: 14px;
}

/* email input */

.email-input-wrapper {
    position: relative;
}

.email-input-wrapper input {
    height: 48px;
    line-height: 48px;
    width: calc(100% - 125px);
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 40px;
    padding: 0 100px 0 25px;
}

.email-input-wrapper input::placeholder {
    font-family: "Josefin Sans";
    color: hsl(0, 36%, 70%);
}

.email-input-wrapper .btn-email {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0px 15px 15px -2px #f09797;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -2px;
    width: 64px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.email-input-wrapper .btn-email:hover {
    background: hsl(0, 80%, 86%);
}

.email-input-outter.error .error-warning,
.email-input-outter.error .error-message {
    display: block;
}

.email-input-wrapper .error-warning {
    display: none;
    position: absolute;
    right: 115px;
    top: 50%;
    transform: translateY(-50%);
}

.error-message {
    display: none;
    margin-left: 25px;
    color: hsl(0, 36%, 70%);
    font-weight: 400;
}

@media screen and (min-width: 1440px) {
    main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        min-height: 100vh;
    }

    .content {
        background-image: url("../images/bg-pattern-desktop.svg");
        background-position: center;
        background-size: cover;
        margin: 0;
        padding: 0;
        width: 60%;
    }

    .content-inner {
        padding: 0 218px 0 166px;
    }

    .content-logo {
        display: block;
        margin-top: 65px;
        margin-bottom: 135px;
    }

    .hero-img {
        display: none;
    }

    .hero-logo {
        display: none;
    }

    .hero {
        width: 40%;
        margin-bottom: 0;
        background-image: url("../images/hero-desktop.jpg");
        background-size: cover;
    }

    .content h1 {
        text-align: left;
        font-size: 77px;
        line-height: 68px;
    }

    .content .description {
        text-align: left;
        line-height: 23px;
        font-size: 16px;
    }

    .email-input-wrapper .btn-email {
        width: 100px;
    }
}
